.allProduct {
    min-height: 100vh;
    background-color:#FEFEFE;

    .categoryLinks {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;

        .linkCat,
        .activeLinkCat {
            padding: 0.5rem 1.2rem;
            border-radius: 25px;
            font-weight: bold;
            text-decoration: none;
            transition: all 0.3s ease;
            font-size: 1rem;
            border: 2px solid transparent;
        }

        .linkCat {
            background-color: #e1f5fe; // רקע תכלת בהיר
            color: #00bcd4;

            &:hover {
                background-color: #00bcd4;
                color: white;
            }
        }

        .activeLinkCat {
            background-color: #00bcd4;
            color: white;
            border: 2px solid #00bcd4;
        }
    }


    /* עבור מסכים קטנים */
    @media (max-width: 768px) {
        .categoryLinks {
            padding: 0.5rem 1rem;
            gap: 0.75rem;
            justify-content: flex-start;
        }
    }











    @keyframes activeGlow {
        0% {
            box-shadow:
                0 4px 15px rgba(99, 102, 241, 0.3),
                0 2px 8px rgba(99, 102, 241, 0.2);
        }

        100% {
            box-shadow:
                0 6px 20px rgba(99, 102, 241, 0.4),
                0 3px 10px rgba(99, 102, 241, 0.3);
        }
    }

    @keyframes ripple {
        0% {
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            width: 100px;
            height: 100px;
            opacity: 0;
        }
    }



    /* עיצוב לקונטיינר המוצרים */
    .productsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 8rem 6rem;
        list-style: none;
        margin: 3rem 0 1rem 0;
        padding: 3rem 12.5rem;
    }

    .productsContainer li {
        transition: transform 0.3s ease;
    }

    .productsContainer li:hover {
        transform: translateY(-5px);
    }

    /* התאמות נוספות */
    .MuiPagination-root {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }



    /* התאמה לגוף הדף - הסר אם לא נחוץ */

    body {
        padding-top: 70px;
    }


    /* עבור RTL */
    [dir="rtl"] .categoryLinks {
        direction: rtl;
    }


    [dir="rtl"] .linkCat,
    [dir="rtl"] .activeLinkCat {
        direction: rtl;
        text-align: center;
    }
}

.loading {
    width: 200px;
    animation: pulseGlow 2s ease-in-out infinite;
    position: fixed;
    /* או absolute */
    top: 40%;
    left: 40%;;
}

@keyframes pulseGlow {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}